<%= render "form", gif: @gif %>

<div class="card-columns gifs grid" data-masonry='{ "itemSelector": ".grid-item", "columnWidth": ".grid-sizer", "percentPosition": "true" }'>
  <% @gifs.each do |gif| %>
    <div class="card gif-item grid-size">
      <%= image_tag gif.file, class: "card-img-top" %>
      <div class="card-body">
        <h5 class="card-title text-muted">
          <%= gif.title %>
        </h5>
        <p class="card-subtitle lead mb-2">
          <%= gif.description %>
        </p>
      </div>
    </div>
  <% end %>
</div>
