<nav id="sidebar" class="active">
  <h1><a href="<%= root_path %>" class="logo">G.</a></h1>
  <ul class="list-unstyled components mb-5">
    <li class="active">
      <a href="<%= root_path %>">all gifs</a>
    </li>
    <li>
      <a href="#">sign out</a>
    </li>
  </ul>

  <div class="footer">
    <p>
    Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="icon-heart" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib.com</a>
    </p>
  </div>
</nav>
